nav ul
{
    display: inline-block;
    white-space: nowrap;
    max-width: 1500px;
    width: 100%;
    background-color: #EFE2BA;
    color: white;
    left: 0px;
    padding: 0;
    z-index: 1;
    padding-left: 10%; 
    box-sizing: border-box;
    margin: 0px;
}
a{
  text-decoration: none;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
}
nav{
    margin-top: 0;
    box-sizing: border-box;
    position: sticky;
    top:0%;
}
nav li
{
    z-index: 1;
    width: 200px;
    font-size:28px;
    display: inline-block;
    text-align: center;
    height: 50px;
    padding: 5px 0px 0px 0px;
    margin-bottom: 0px;
    border: 0px 2px 0px 2px;
    border-color: black;
    margin: 0px;
}
nav ul:hover{
    opacity: 1;
}
nav li:hover{
    top:-2px;
    position: relative;
    border-bottom: 3px solid #264143;
}
#bigintro
{
    margin-bottom: 0;
    font-size: 100px;
    background-color: #EFE2BA;
    color:aliceblue;
    text-align: center;
    height: 120px;
    padding: 10%;
}
.fa {
padding: 10px;
font-size: 30px;
width: 30px;
height: 20px;
text-align: center;
text-decoration: none;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook {
background: #4056A1;
color: white;
}
.fa-linkedin {
background: #4056A1;
color: white;
}
.fa-instagram {
background: #4056A1; 
color: white;
}
footer{
background-color: #4056A1;
padding-left: 20px;
height: 15%;
bottom:0;
}
main
{
line-height: 2em;
font-size: 20px;
text-align: center;
}
button{
  width: 200px;
  background-color: #EFE2BA;
  border: none;
  font-size: 28px;
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  padding-left: 0px;
}
.dropdown
{
display: inline-block;
position: relative;
font-family: 'Courier New', Courier, monospace;
padding-left: 0%;
text-align: left;
}
.dropdown-content {
display: none;
position: absolute;
width: 100%;
overflow: auto;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
margin: 0px;
border: 0px;

background-color: #EFE2BA;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-content a {
display: block;
color: #000000;
padding: 5px;
text-decoration: none;
}
.dropdown-content a:hover {
color: #FFFFFF;
background-color: #00A4BD;
}
html{
  scroll-behavior: smooth;
}
.csocs{
  font-size: 20px;
  text-decoration: none;
  padding: 25px;
}
#cc
{
  background-color: #c3e8e7;
  margin: 0%;
  color: black;
  margin-left: 40px;
  margin-right: 90px;
  border: 1px solid #d9e6e6;
  border-radius: 50px;
}
#kgts
{
  background-color: rgb(241, 233, 233);
  margin: 0%;
  text-align: right;
  margin-left: 90px;
  margin-right: 40px;
  border: 1px solid #d9e6e6;
  border-radius: 50px;
}
#kdag
{
  background-color: #a61107;
  margin: 0%;
  color: aliceblue;
  margin-left: 40px;
  margin-right: 90px;
  border: 1px solid #d9e6e6;
  border-radius: 50px;
}
#swg
{
  background-color: #7CB9E8;
  margin: 0px;
  text-align: right;
  margin-left: 90px;
  margin-right: 40px;
  border: 1px solid #d9e6e6;
  border-radius: 50px;
}
#ccp
{
  width: 275px;
  height: 60px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 50%;
  white-space: nowrap;
  margin-bottom: 0%;
} 
#kgtsp
{
  width: 90px;
  height: 90px;
  margin-left: 0;
  margin-right: 20%;
  display: inline-block;
}    
#copyright
{
  text-align: center;
  font-size: 18px;
  background-color: #4c60a5;
  color: white;
  bottom:0px;
}
#toparrow, #downarrow
{
  font-size: 36px;
  position: fixed;
  text-align: right;
  top: 500px;
  left:96%;
  border-radius: 200px;
  border: 1px solid black;
  padding-left: 8px;
  padding-bottom: 15px;
  padding-right: 15px;
  max-width: 40px;
  max-height: 40px;
  box-sizing: border-box;
}
#downarrow{
  top:545px;
}